$brand-color: #2196f3;
$primal-text-color: #000000;
$card-title-color: #212121;
$card-text-color: #757575;
$background-color: #f5f4fa; 
$order-background-color: #2f303a;
$white-color : #ffffff;
$address-link-color: rgba(255, 255, 255, 0.6);
$order-shadow-color: rgba(0, 0, 0, 0.15);